/**
 * egend
 */
.olControlLegend {
    position: absolute;
    top: 150px;
    right: 0;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
}

.olControlLegend .legendDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 75px;
    background-color: darkblue;
    width: 100%;
    height: 100%;
}

.olControlLegendList {
    list-style-type: none;
    padding-left: 0;
}

.olControlLegend .legendDiv .legendLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.olControlLegend .legendDiv .legendValuesDiv {
    padding-left: 10px;
}

.olControlLegendMaximizeButton,
.olControlLegendMinimizeButton {
    top: 5px;
    right: 0;
    cursor: pointer;
}
